.start{
    background-color: #80CBC4;
    font-weight:bold;
    font-size: 18px;
    font-family: sans-serif;
    

}
.main-heading{
    /* margin-top: 20px; */
    margin-left: 120px;
    font-weight: bold;
    text-shadow: 2px 2px 2px maroon;
}
/* .main-heading > h2{
    margin-left: 30px;
} */
@media only screen and ( max-width : 570px){
    .main-heading > h2{
        /* margin-left: 50px !important; */
        /* width: 100%; */
    text-shadow: 2px 2px 2px maroon;
    font-weight: bold;
    font-size: x-large;
    margin-right: 20px;
     margin-top: 20px; 



    }
 }
 @media only screen and ( max-width : 570px){
    .about-snack > p{
        /* margin-left: 50px !important; */
        /* width: 100%; */
  
    margin: 60px;
    text-align: justify;
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.9;
    /* padding: 5px 0px; */


    }
 }
 .btn{
    
    color: lightgrey;
    background-color: cadetblue
}
.btn:hover{
    color:white;
    background-color: darkcyan;
}

/* .bg{
background-image: url();
    width: 100%;
} */


.nav-list>a>.fa-cart-arrow-down{
    font-size: 30px;
    color: black
}
.image-slider{
    width: 100% !important;
    height: 500px !important;
}
@media only screen and ( max-width : 570px){
    .places{
        margin-left: 50px !important;
        width: 80%;
    }
 }

.carousel-caption>h2{
    color: beige;
}
 .menu-bar:hover {
    /* cursor: pointer; */
    animation-name: slow;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes slow {
    from {
        background-color:  rgb(28, 131, 62) ;
    }
    to {
        background-color: rgb(218, 33, 33);
    }
    from {
        color:white;
    }
    to {
        color: beige;;
    }
    from {
        font-weight: normal;
    }
    to {
        font-weight: bold;
    }
    from {
        border-radius: 0px;
    }
    to {
        border-radius: 30px;
    }
    from{
        padding-left: 5px;
    }
    to{
        padding-left: 10px;
    }
    from{
        padding-right: 5px;
    }
    to{
        padding-right: 10px;
    }
  
    from{
        transform: 0;
    }
    to{
        transform: scale(1);
    }
}
.news-marquee{
    
    background-color: #80CBC4;
    /* height: 20px; */
    margin: 8px 80px;
    padding: 5px;
    color: #000;
    font-weight: 500;
    
    
}
.trapezoid {
	border-bottom: 50px solid #80CBC4;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height:auto;
    width:auto;
    text-shadow: 2px 1px 1px grey; 
    box-shadow: 0px 5px 2px black;
    color: green;
    /* background-color:  #80CBC4 ; */
    padding: 10px 10px 0px 20px;
    /* margin:10px 400px; */
}
.about-snack{
    padding: 0px 0px 10px 0px;
 }
.about-snack p {
    
        text-align: justify;
        color: #666666;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        line-height: 1.9;
        padding: 5px 0px;
      
        
    
}

/* @media only screen and ( max-width :506px){
    .R-about-snacks{
        width: 300px;
        height: 200px;
        margin: 0px 0px 10px 0px !important;
    }
} */
.main-place-bg{
    background-color: #E0F2F1;
}
.place-heading{
    width: 30%;
    margin:10px 400px;
    background-color:  #80CBC4 ;
    padding: 5px 5px 0px 20px;
    color: black;
    /* text-decoration: green; */
    /* border: 1px solid black; */
    text-shadow: 2px 1px 1px grey; 
    box-shadow: 0px 5px 2px black;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid white; 
}
@media only screen and  ( max-width : 759px )
{
    .place-heading{
        width: 80%;
        padding: 0px 0px 20px 20px;
        height: 50px;
        font-size: x-large;
        color: green;
        background-color:  #80CBC4;
        margin: 15px 50px 0px 50px;
    }
}

@media only screen and  ( max-width : 650px )
{
    .trapezoid{
        
        width: 100%;
        /* padding: 20px 0px 0px 20px; */
        text-align: center;
        height: 50px;
        font-size:large;
        color: green;
        /* background-color:  green; */
        border-bottom: 50px solid #80CBC4;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        /* margin: 15px 0px 0px 0px; */
        /* padding: 0px; */
    }
  
   
}
 /* @media only screen and  ( max-width : 780px )
{
    .snack-heading > h2{
        width: 50%;
        padding: 15px 0px 0px 0px;
        height: 50px;
        font-size: large;
        color: green;
        background-color:  #80CBC4;
        margin: 15px 0px 0px 100px;
        border-bottom: 50px solid #80CBC4;
	   border-left: 25px solid transparent;
	   border-right: 25px solid transparent;
    }
} */

.places:hover{
    cursor: pointer;
    animation-name: zoom;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes zoom{
    from{
        transform: 0;

    }
    to{
        transform: scale(0.8);
    }
    from{
        box-shadow:  0px 0px 0px white;
    }
    to {
        box-shadow: 2px 3px 10px rgb(153, 145, 145);
    }
}
.finding-supplier{
    width: 70%;
    background-color:  #80CBC4;
    margin:50px 0px;
    color:beige;
    font-size: large;
    /* background-color: #C8E6C9 ; */
    padding: 15px 5px 5px 10px;
    /* color: black; */
    /* text-decoration: green; */
    border: 1px solid black;
    /* text-shadow: 2px 1px 1px grey; 
    box-shadow: 2px 1px 2px green; */

}
.find-button{
    background-color: grey;
    color: beige;

}
@media only screen and ( max-width : 650px){
    .finding-supplier{
        width: 100%;

    }
}
.find-button:hover{
    animation-name: find;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    text-decoration: none;
   
}
@keyframes find{
    from{
        background-color: darkblue;
    }
    to{
        background-color: 
        brown;
    }
    100%{
        color: darkgray;
    }
}
.footer{
    background-color: #696969  ;
    color: lightgray;
    font-family: sans-serif;
    font-weight: 600;


}
.main-footer{
        background-color:  #80CBC4 ;
        padding: 20px 0px;
    
}
.head-office{
    /* width: 35%; */
    font-size: 14px;
    font-family: 'open sans' , sans-serif;
    /* padding: 50px 0px 50px 0px; */
    /* color: #bbb; */
    line-height: 1.9;
}
.connect{
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px 2px maroon;
    /* color: beige; */
}
.contact-div i{
    /* display: inline-block; */
    /* width: 10px;
    height: 10px;
    color: #ffffff;
    background-color: blue; */
    /* padding: 5px  5px 10 ; */
    /* border-radius: 50%; */
    margin: 5px;
    width: 50px;
    height: 50px;
    
    color: #ffffff;
    /* background-color: #326dc3; */
    border-radius: 100%;
    font-size: 30px;
    
    padding: 8px 7px 7px 9px;
}
.Address > p{
    text-align: center;

}
.details > ul{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;

}
.fixed-button{
    /* /* position: fixed;
    top: 50;
    left: 100; */
    /* background-color: red; */
    /* border: 1px solid black; */
    /* text-align: center; */
    background-color: lightslategray;
    font-size: 30px;
    padding: 0px 15px;
    position: fixed;
    bottom: 20px;
    right: 50px; 
    border-radius: 10px;
    
}

.fixed-button i{
    color: cornsilk;
    
}
@media only screen and ( max-width : 479px ){
    .R-wrapper{
        padding-top: 150px !important;

    }
}

 
